
*.csv
*.zip
Data/
CSV/
output/*.csv
*.CSV

### --- Python 标准屏蔽 --- ###
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
.env
.tox
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log

### --- PyCharm (JetBrains) 屏蔽 --- ###
.idea/
*.iws
*.iml
*.ipr
out/
cmake-build-debug/